/************************
  COLORS
************************/
$blue-hex: #003399;
$blue-rgb: rgb(0, 51, 153);
$green-hex: #228B22;
$green-rgb: rgb(34, 139, 34);
$yellow-hex: #FFCC00;
$yellow-hex-hover: #FFF830;
$yellow-rgb: rgb(255, 204, 0);
$white-hover: #FFFFFF;
$black: #000000;
$white: #D5D5D5;

/************************
  OPACITIES
************************/
$welcome-box-opacity: 0.7;

/************************
  STANDARD SIZES
************************/
$welcome-box-side: 500px;
$loading-box-side: 300px;

/************************
  Z-INDICES
************************/
$header-z: 300;
$highest-z-index: 300;
